#page-profile {
    width: 100vw;
    height: 100vh;
}

#page-profile main {
    margin: 3.2rem auto;
    width: 90%;
}

@media (min-width: 700px) {
    #page-profile {
      max-width: 100%;
    }
    #page-profile main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}