#page-home {
    width: 100vw;
    height: 100vh;
  }
  
  #search-travels {
    margin-top: 3.2rem;
  }
  
  #search-travels label {
    color: var(--color-text-in-primary);
  }
  
  #search-travels button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
  }
  
  #search-travels button:hover {
    background: var(--color-secundary-dark);
  }
  
  #page-home main {
    margin: 3.2rem auto;
    width: 90%;
    min-height: 60%;
  }
  
  
  #page-home main label strong {
    font: 700 4rem Archivo;
    text-align: center;
    line-height: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-line-in-white);
  }

  @media (min-width: 700px) {
    #page-home {
      max-width: 100%;
    }
  
    #search-travels {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
      position: absolute;
      bottom: -28px;
    }
  
    #search-travels .input-block + .input-block,
    #search-travels .select-block + .select-block {
      margin-top: 0;
    }
  
    #page-home main {
      padding: 3.2rem 0;
      max-width: 740px;
      margin: 0 auto;
      min-height: 60%;
    }

    #page-home main label strong {
      font: 700 4rem Archivo;
      text-align: center;
      line-height: 4.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15rem;
      color: var(--color-line-in-white);
    }
  }
  