.page-footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-footer .top-bar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-in-primary);
  padding: 1.6rem 0;
}

.page-footer .top-bar-container span {
  font: 400 1.2rem Archivo;
  line-height: 6.2rem;
  color: var(--color-title-in-primary);
}


@media (min-width: 700px) {
  .page-footer {
    height: 100px;
  }

  .page-footer .top-bar-container {
    max-width: 90%;
  }

  .page-footer .top-bar-container span{
    font: 400 1.6rem Archivo;
    line-height: 6.2rem;
  }
}
